body {
  background-color: rgb(216, 216, 216);
  background-image: url("/image/email-pattern.png")
}

.center-konten {
  width:421px; 
  height:100%; 
  margin-top:20vh; 
  margin-top: calc(var(--vh, 1vh) * 15);
}